<div id="welcome" class="jumbotron text-center animated bounceInLeft" style="padding-top:120px; padding-bottom:120px">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Feel free to add an Entry to your online diary!</p>
	<a href="/diary/add" class="btn btn-dark btn-lg">Add Writeup<i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
	<hr>
	<li class="btn btn-warning">
		    		<a href="/users/register" class="nav-link" id="rlink">Register <i class="fa fa-address-book-o mr-2" aria-hidden="true" id="rlink"></i></a>
		    	</li>
	<p class="lead">Designed by Robert Cumahig</p>
	<br>
</div>
